@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
input {
  outline: none;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: lightgray;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navItem {
  @apply flex-1 p-4 md:p-10 md:mt-2 md:text-2xl text-center border-2 bg-red-300 hover:bg-red-400 rounded-t-lg cursor-pointer;
}

.selectedNavItem {
  @apply flex-1 p-4 md:p-10 md:mt-2 md:text-2xl text-center border-t-2 rounded-t-lg cursor-pointer;
}
