@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
input {
  outline: none;
}

body {
  font-family: montserrat;
}

a {
  color: rgb(61, 61, 60);
}

a:hover {
  cursor: pointer;
  color: black;
}

#magnifyingGlass {
  height: 3rem;
}
